@font-face {
    font-family: 'helvetica';
    src: url('/app/fonts/HelveticaNeue-Light.eot?') format('eot'),
    url('/app/fonts/HelveticaNeue-Light.otf')  format('opentype'),
    url('/app/fonts/HelveticaNeue-Light.woff') format('woff'),
    url('/app/fonts/HelveticaNeue-Light.ttf')  format('truetype'),
    url('/app/fonts/HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg');
}

html {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 4rem;
    min-height: 100%;
    font-family: 'helvetica', arial, sans-serif;
    background-color: #ffffff;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #222222;
    color: dodgerblue;
    text-align: center;
}

.menu{
    margin-top: 5px;
}

.navbar-brand{
    padding: 0;
    margin-top: -3px;
    margin-left: 20px;
    margin-right: 20px;
}

.navbar-inverse {
    border: none;
    background-color: #222222;
}

.navbar-toggle{
    margin-top: 8px;
}

.nav > li > a {
    outline: none;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    border-bottom: 4px solid transparent;
}

.nav > li > a:hover {
    color: dodgerblue !important;
    border-bottom-color: dodgerblue;
    background: white !important;
}

.active {
    color: dodgerblue !important;
    border-bottom: 4px solid dodgerblue !important;
    background: white !important;
}

.nav > li > a > h5 {
    font-family: 'helvetica', arial , sans-serif;
    letter-spacing:2px;
    display: inline;
}

.navbar-nav > li > a {
    padding: 8px;
}

.round-circle {
    height: 30px;
    width: 30px;
    display: inline-block;
    border: 2px solid dodgerblue;
    color: #999;
    border-radius: 15px;
    text-align: center;
    margin-right: 10px;
}

.title{
    color: darkgrey;
    margin: 0 -15px 30px -15px;
    padding: 10px;
    letter-spacing: 2px;
    font-family: 'helvetica';
}

.box{
    padding-bottom: 30px;
    padding-top: 30px;
    border-radius: 5px;
    border: 2px solid dodgerblue;
    background: url("/app/img/navy_blue.png") repeat;
}

.fileinput .form-control {
    white-space: pre !important;
}

label{
    color: darkgrey;
}

@media (max-width: 767px){

    .visible-xs {
        display: inline !important;
    }

    body{
        background: url("/app/img/navy_blue.png") repeat;
    }

    .box{
        border-radius: 0;
        border: none;
        background: none;
        padding-left: -15px !important;
        padding-right: -15px !important;
    }

    .container{
        padding-bottom: 20px !important;
        padding-top: 70px !important;
    }

}

@media (max-width: 318px) {

    .visible-xs{
        display: none !important;
    }

}

@media (min-width: 840px) {

    .nav > li:last-child  {
        position: absolute;right: 0;
    }

}

.glyphicon-x4 {
    font-size: 4em;
}

.login-input-text {
    margin: 25px 25px 15px 25px;
}

.container{
    padding-bottom: 50px;
    padding-top: 150px;
}