<form class="form-horizontal" role="form">
    <div class="box col-sm-12">
        <div class="form-group">
            <div class="col-sm-12">
                <h5 class="title text-center">FORMULÁRIO DE CONTACTO</h5>
            </div>
        </div>
        <div class="form-group">
            <label for="username" class="col-sm-3 control-label">Nome</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="username" placeholder="Nome">
            </div>
        </div>
        <div class="form-group">
            <label for="userphone" class="col-sm-3 control-label">Telefone / Telemóvel</label>
            <div class="col-sm-2">
                <input type="tel" class="form-control" id="userphone" placeholder="Telefone / Telemóvel">
            </div>
        </div>
        <div class="form-group">
            <label for="useremail" class="col-sm-3 control-label">Nome</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="useremail" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label for="usermessage" class="col-sm-3 control-label">Mensagem</label>
            <div class="col-sm-8">
                <textarea class="form-control" rows="3" id="usermessage" placeholder="Mensagem"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-10">
                <button type="submit" class="btn btn-default">Enviar Contacto</button>
            </div>
        </div>
    </div>
</form>